{% extends 'base.html' %}
{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block title %}
    Сгенерированный 3D график
{% endblock %}
{% block body %}
    <div id="myDiv" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
    <input type="button" class="btn btn-primary btn-lg" value="&#8592; В главное меню" onclick="history.back()" style="position: absolute; top: 0; bottom: 0; left: 0; border-radius: 0">
{% endblock %}
{% block script %}
<script>
    var layout = {
        scene: {
            xaxis: {title: 'Z'},
            yaxis: {title: 'X'},
            zaxis: {title: 'Dose of radiation'},
        }
    };
    Plotly.newPlot('myDiv', [{
                   z: {{rad}},
                   type: 'surface'
            }], layout);
</script>
{% endblock %}