{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block body %}
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <h4>Введите параметры для вычисления радиационной модели</h4>
    <br>
    <form action="/list" method="post" class="form-group" id="form">
        <div class="row">
            <div class="col-md-7"><label>Расстояние по X от стены</label></div>
            <div class="col-md-2"><input type="number" name="k" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение длины стены - Z</label></div>
            <div class="col-md-2"><input type="number" name="l" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение высоты стены - Y</label></div>
            <div class="col-md-2"><input type="number" name="m" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение широты - X</label></div>
            <div class="col-md-2"><input type="number" name="n" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Расстояние до плоскости вдоль оси Y</label></div>
            <div class="col-md-2"><input type="number" name="y0" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Половина толщины затухания <br>(константа, зависящая от материала
                стены)</label></div>
            <div class="col-md-2"><input type="number" name="d" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение мощности излучения на расстоянии r от одного элемента</label></div>
            <div class="col-md-2"><input type="number" name="p" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Расстояние от одного элемента стены</label></div>
            <div class="col-md-2"><input type="number" name="r" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"><label>Выберите нужный тип рассчета</label></div>
            <div class="col-md-5">
                <select name="type" class="form-control">
                    <option value="wall">Расчет радиационного фона от стены</option>
                    <option value="room">Расчет радиационного фона в комнате</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"><label>Выберите формат вывода вычислений</label></div>
            <div class="col-md-5">
                <select name="output" id="output" class="form-control">
                    <option value="list" id="list">Список значений</option>
                    <option value="image" id="image">Картинка</option>
                </select>
            </div>
        </div>
        <br><br>
        <input type="submit" value="Посчитать" class="btn btn-success">
    </form>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#output").change(function () {
                if ($("#output").val() == "image") {
                    $("#form").prop("action", "/image")
                } else {
                    $("#form").prop("action", "/list")
                }
            });
        });
    </script>
{% endblock %}