{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block body %}
    {% if error_message and type == 'value' %}
        <p style="color: red">{{ error_message }}</p>
    {% endif %}
    {% if error_message and type == 'inner' %}
        <p style="color: red; font-size: 60px">{{ error_message }}</p>
    {% endif %}
    <h4>Введите параметры для вычисления радиационной модели</h4>
    <br>
    <form action="/list" method="post" class="form-group" id="form">
        <div class="row">
            <div class="col-md-7"><label>Расстояние по X от стены</label></div>
            <div class="col-md-2"><input type="number" id="k" name="k" class="form-control" value="{{ k if k else '' }}"></div>
            {% if error_message and error_message.startswith('k ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение длины стены - Z</label></div>
            <div class="col-md-2"><input type="number" id="l" name="l" class="form-control" value="{{ l if l else '' }}"></div>
            {% if error_message and error_message.startswith('l ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение высоты стены - Y</label></div>
            <div class="col-md-2"><input type="number" id="m" name="m" class="form-control" value="{{ m if m else '' }}"></div>
            {% if error_message and error_message.startswith('m ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение широты - X</label></div>
            <div class="col-md-2"><input type="number" id="n" name="n" class="form-control" value="{{ n if n else '' }}"></div>
            {% if error_message and error_message.startswith('n ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Расстояние до плоскости вдоль оси Y</label></div>
            <div class="col-md-2"><input type="number" id="y0" name="y0" class="form-control" value="{{ y0 if y0 else '' }}"></div>
            {% if error_message and error_message.startswith('y0 ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Половина толщины затухания <br>(константа, зависящая от материала
                стены)</label></div>
            <div class="col-md-2"><input type="number" id="d" name="d" class="form-control" value="{{ d if d else '' }}"></div>
            {% if error_message and error_message.startswith('d ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Значение мощности излучения на расстоянии r от одного элемента</label></div>
            <div class="col-md-2"><input type="number" id="p" name="p" class="form-control" value="{{ p if p else '' }}"></div>
            {% if error_message and error_message.startswith('p ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><label>Расстояние от одного элемента стены</label></div>
            <div class="col-md-2"><input type="number" id="r" name="r" class="form-control" value="{{ r if r else '' }}"></div>
            {% if error_message and error_message.startswith('r ') %}
                <p style="color: red">{{ error_message }}</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"><label>Выберите нужный тип рассчета</label></div>
            <div class="col-md-5">
                <select name="type" class="form-control">
                    <option value="wall">Расчет радиационного фона от стены</option>
                    <option value="room">Расчет радиационного фона в комнате</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"><label>Выберите формат вывода вычислений</label></div>
            <div class="col-md-5">
                <select name="output" id="output" class="form-control">
                    <option value="list" id="list">Список значений</option>
                    <option value="image" id="image">Картинка</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"><input type="button" id="generate" value="Сгенерировать значения"
                                         class="btn btn-info"></div>
            <div class="col-md-2"><input type="submit" value="Посчитать" class="btn btn-success"></div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#output").change(function () {
                if ($("#output").val() == "image") {
                    $("#form").prop("action", "/image")
                } else {
                    $("#form").prop("action", "/list")
                }
            });

            $("#generate").click(function () {
                const max_value = 30;
                const mean_value = 10;
                const min_value = 1;
                const min_d_value = 5;
                var k = getRandomValue(max_value, mean_value);
                var l = getRandomValue(max_value, mean_value);
                $("#k").val(k);
                $("#l").val(l);
                $("#m").val(getRandomValue(Math.floor(Math.min(k, l) / 2), min_value));
                $("#n").val(getRandomValue(Math.floor(Math.min(k, l) / 2), min_value));
                $("#y0").val(getRandomValue(min_d_value, min_value));
                $("#d").val(getRandomValue(min_d_value, min_value));
                $("#p").val(getRandomValue(min_d_value, min_value));
                $("#r").val(getRandomValue(min_d_value, min_value));
            });

            function getRandomValue(max, min) {
                return Math.floor(Math.random() * (max + 1 - min)) + min;
            }
        });
    </script>
{% endblock %}